
# PostHog Analytics
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://psthgeu.reduzer.tech

# Google Sheets
GOOGLE_SHEETS_WEBHOOK_URL=
# .env.example
NEXT_PUBLIC_API_URL=
DATABASE_URL=
NEXT_PUBLIC_SITE_URL=
